<li class="product pt-3 pb-3 ms-3 me-3" aria-hidden="true" *ngFor="let item of [1, 1, 1, 1]">
    <div class="d-flex align-items-center">
        <div class="flex-shrink-0 placeholder-glow">
            <div class="bg-product rounded placeholder bg-secondary"></div>
        </div>
        <div class="flex-grow-1 ms-3">
            <div class="row">
                <div class="col-sm-7 placeholder-glow">
                    <div class="price mb-2 placeholder col-3"></div>
                    <h2 class="placeholder mt-2 col-12"></h2>
                </div>
                <div class="col-sm-5 text-end pe-5">
                    <small class="pe-5 placeholder col-3"></small>
                </div>
            </div>
        </div>
    </div>
</li>
