<app-header></app-header>

<div class="container">
    <app-breadcrumb *ngIf="product" [categoryID]="product.category_id"></app-breadcrumb>

    <section class="content">
        <div class="bg-white rounded p-5">
            <div class="container" *ngIf="!product">
                <app-skeleton-single></app-skeleton-single>
            </div>

            <div class="container" *ngIf="product">
                <app-product-single [product]="product"></app-product-single>
            </div>
        </div>
    </section>
</div>

<app-footer></app-footer>
