<li class="product pt-3 pb-3 ms-3 me-3" *ngFor="let product of products">
    <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
            <a [routerLink]="['/items', product.id]">
                <div
                    class="bg-product rounded"
                    [ngStyle]="{
                        'background-image': 'url(' + product.thumbnail + ')'
                    }"
                ></div>
            </a>
        </div>
        <div class="flex-grow-1 ms-3">
            <div class="row">
                <div class="col-sm-7">
                    <div class="price mb-2">$ {{ product.price | number }}</div>
                    <h2>
                        <a [routerLink]="['/items', product.id]">
                            {{ product.title }}
                        </a>
                    </h2>
                </div>
                <div class="col-sm-5 text-end pe-5">
                    <small class="pe-5">{{ product.address.city_name }}</small>
                </div>
            </div>
        </div>
    </div>
</li>
