<app-header></app-header>

<div class="container">
    <app-breadcrumb></app-breadcrumb>

    <section class="content">
        <div class="bg-white rounded p-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-center">
                        <img src="https://picsum.photos/600/600" class="img-fluid" alt="Img Single" height="600" />
                    </div>
                    <div class="col-md-4">
                        <div class="sales">Nuevo - 234 vendidos</div>
                        <h1 class="mt-2">Deco Reverse Sombrero Oxford</h1>
                        <h3 class="mt-4 mb-5">$ 1.980<sup>00</sup></h3>

                        <div class="d-grid gap-2">
                            <button class="btn btn-primary btn-lg" type="button">Comprar</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <h4 class="mb-4">Descripción del producto</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis dolores sapiente sequi,
                            voluptas modi magnam voluptatem similique porro labore nulla repellat error eos rem
                            corrupti. Quasi temporibus recusandae esse totam.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
